n8n/workflows/hello-world.json
{
  "name": "Hello World",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello-world",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-hello",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "hello-world-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qmaOy11EZMmalmh1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Hello from n8n gateway",
              "type": "string"
            },
            {
              "id": "received",
              "name": "received",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-hello",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        704,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c24eff46-d9ed-433b-841c-c26acb06c8f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fd0eeee932ae06c66bc6d70a5bd090a7e623c2434298e4b5d4b2954d5b4aba0"
  },
  "id": "1",
  "tags": []
}